# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
VOIP.json
https_requests.py
test_http_file.py
.vscode/settings.json
.vscode/settings.json
images/42x42/arrow-down-42x42.png
images/42x42/arrow-up-42x42.png
images/42x42/double-arrow-down42x42.png
images/42x42/double-arrow-up-42x42.png
images/42x42/file-42x42.png
images/42x42/file-add-42x42.png
images/42x42/link-chain-42x42.png
images/42x42/link-chain-add-42x42.png
images/42x42/minus-42x42.png
images/42x42/plus-42x42.png
images/42x42/toolbox-42x42.png
images/42x42/trash-42x42.png
images/512/arrow-down.png
images/512/arrow-up.png
images/512/double-arrow-down.png
images/512/double-arrow-up.png
images/512/file-512.png
images/512/file-add-512.png
images/512/link-chain-512.png
images/512/link-chain-add-512.png
images/512/minus-512.png
images/512/plus-512.png
images/512/toolbox.png
images/512/trash-512.png
tkSimpleDialog.py
test.py
.vscode/settings.json
.vscode/settings.json
SearchInTree.py
